[Desktop Entry]
Name=Smart Serve
Comment=Fire up the smart serve camera!
Exec=/home/pi/OpenCV/smartserve-camera/scripts/Camera.sh
Icon=/home/pi/Documents/download.png
Terminal=true
Type=Application
